DB_HOST=localhost
DB_PORT=5438
DB_USER=postgres
DB_PASSWORD=12345678
DB_NAME=postgres
LOCAL_PG_AUTO_START=1
LOCAL_PG_INSTALL_DIR=W:/DB/PostgreSQL
LOCAL_PG_DATA_DIR=W:/DB/PostgreSQL/data
LOCAL_PG_LOG_FILE=W:/DB/PostgreSQL/pg_ctl-start.log
LOCAL_PG_START_TIMEOUT=30
